.navbar {
    text-align: left;
    background-color: #111;
    padding: 8px;
  }

  .navbar .navbar-brand{
      color: #fff;
  }
  
  .navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .navbar-nav a:hover {
    color: #111;
    background-color: #fff;
  }
  
  .nav-link {
    color: #fff;
  }
  