   <nav class="navbar navbar-expand-lg" id="nav-scroll">
    <a class="navbar-brand p-2" routerLink="/home-component" routerLinkActive="active" href="#">Namaste Weather</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav nav-pills mr-auto">
        <li class="nav-item active">
          <a class="nav-link m-1 p-2" routerLink="/home" routerLinkActive="active" href="#">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link m-1 p-2" routerLink="/Hourly-Forecast" routerLinkActive="active" href="#">Hourly-Forecast</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link m-1 p-2" routerLink="/Geo-Maps" routerLinkActive="active" href="#">Geo-Maps</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link m-1 p-2" routerLink="/App Services" routerLinkActive="active" href="#">App Services</a>
        </li>
      </ul>
    </div>
  </nav>