<!-- <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row" id="contact">
    <div class="col">
      <h2>Let's Connect</h2>
      <a id="profile-link" href="https://www.linkedin.com/in/itsmekit/" target="_blank"
        class="btn contact-details">
        <i-bs name="linkedin"></i-bs></a>
      <a id="profile-link" href="https://github.com/Assassinkit" target="_blank"
        class="btn contact-details">
        <i-bs name="github"></i-bs></a>
      <br />
      <span>Coded by Ankit Kumar</span>
      <br />
      <span id="credit">Reference: OpenWeatherMap, Youtube, StackOverFlow, Angular.io Guides</span>
    </div>
  </div> -->
