<div class="container p-2">
    <div class="row pt-4 text-center justify-content-center">

        <div class="card m-2">
            <i-bs class="p-2" width="4rem" height="4rem" name="cloudSun"></i-bs>
            <div class="card-header">
                <h5>Live Weather</h5>
            </div>
            <div class="card-body text-center">
                <p class="card-title">Supports current weather with wind speed, humidity, sunset, sunrise.
                </p>
            </div>
        </div>

        <div class="card m-2">
            <i-bs class="p-2" width="4rem" height="4rem" name="calendarDay"></i-bs>
            <div class="card-header">
                <h5>Daily Weather Forecast</h5>
            </div>
            <div class="card-body text-center">
                <p class="card-title">Supports forecast weather upto 6 days
                </p>
            </div>
        </div>

        <div class="card m-2">
            <i-bs class="p-2" width="4rem" height="4rem" name="clock"></i-bs>
            <div class="card-header">
                <h5>Hourly Forecast</h5>
            </div>
            <div class="card-body text-center">
                <p class="card-title">5 hours instant weather Forecast</p>
            </div>
        </div>

        <div class="card m-2">
            <i-bs class="p-2" width="4rem" height="4rem" name="globe"></i-bs>
            <div class="card-header">
                <h5>Geo Location</h5>
            </div>
            <div class="card-body text-center">
                <p class="card-title">The project is supported by OpenWeather and Geo location API</p>
            </div>
        </div>

        <div class="card m-2">
            <i-bs class="p-2" width="4rem" height="4rem" name="map"></i-bs>
            <div class="card-header">
                <h5>Geo Mapping</h5>
            </div>
            <div class="card-body text-center">
                <p class="card-title">The project is supported by OpenWeather and Geo location API with Angular Google Maps</p>
            </div>
        </div>

        <div class="card m-2">
            <i-bs class="p-2" width="4rem" height="4rem" name="personCheckFill"></i-bs>
            <div class="card-header">
                <h5>No Registration</h5>
            </div>
            <div class="card-body text-center">
                <p class="card-title">No registration or login required</p>
            </div>
        </div>

        <div class="card m-2">
            <i-bs class="p-2" width="4rem" height="4rem" name="wind"></i-bs>
            <div class="card-header">
                <h5>AQI</h5>
            </div>
            <div class="card-body text-center">
                <p class="card-title">Check out your city Air Quality Index</p>
            </div>
        </div>

        <div class="card m-2">
            <i-bs class="p-2" width="4rem" height="4rem" name="smartwatch"></i-bs>
            <div class="card-header">
                <h5>Smart Weather</h5>
            </div>
            <div class="card-body text-center">
                <p class="card-title">Background changes over weather change</p>
            </div>
        </div>


        <div class="card m-2">
            <i-bs class="p-2" width="4rem" height="4rem" name="server"></i-bs>
            <div class="card-header">
                <h5>Data Saver</h5>
            </div>
            <div class="card-body text-center">
                <p class="card-title">Runs on low end Devices.</p>
            </div>
        </div>

    </div>
</div>
<br>
<br>
<br>
<br>
<div class="row" id="contact">
    <div class="col">
      <h2>Let's Connect</h2>
      <a id="profile-link" href="https://www.linkedin.com/in/itsmekit/" target="_blank"
        class="btn contact-details">
        <i-bs name="linkedin"></i-bs></a>
      <a id="profile-link" href="https://github.com/Assassinkit" target="_blank"
        class="btn contact-details">
        <i-bs name="github"></i-bs></a>
      <br />
      <span>Coded by Ankit Kumar</span>
      <br />
      <span id="credit">Reference: OpenWeatherMap, Youtube, StackOverFlow, Angular.io Guides</span>
    </div>
  </div> -->
